.content {
  padding: 20px;
}

/* GRID */
.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  text-decoration: none;
  color: black;
  width: 250px;
  transition: 0.25s;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
}